* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;


}

.header{

}
ul { margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;


}
li{text-decoration: none;
display: inline;
    margin-right: 70px;
    margin-bottom: 25px;
    margin-top: 25px;

}
a{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-weight: 700;


}
.image{
    width: 100%;
    height: 789px;

}
.title{
    margin-top: 48px;
    margin-bottom: 38px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
p.text{
    margin-bottom: 28px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 1145px;
    height: 132px;
    left: 67px;
    top: 115px;

    font-size: 16px;
    line-height: 26px;
    margin-left: 693px;
    letter-spacing: 2px;


}
.text-2{;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 1145px;
    height: 216px;
    left: 67px;
    top: 275px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-left: 693px;


}
div.main-content{
    text-align: center;
}
.button{

    text-transform: uppercase;
    display: block;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px ;
    width: 191px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 82px;
    text-align: center;
    border: none;
    padding-top: 16px;


}
.main-content{
    text-align: center;

}
.footer{
    text-align: right;
    margin-right: 105px;
    font-weight: 700

}

